In [4]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

In [5]:
df = pd.read_csv('stock.csv', index_col = 'Date', parse_dates = True)

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [10]:
df['ClosePrediction']= df['Close'].shift(1)
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [11]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [12]:
# sum of square error
(y_true - y_pred).dot(y_true- y_pred)

6330.3742894926045

In [13]:
#mean squared error
mean_squared_error(y_true, y_pred)

2.798573956451196

In [19]:
# root mean squared error
mean_squared_error(y_true, y_pred, squared = False)

1.672893886787562

In [20]:
#RMSE with core python only
np.sqrt((y_true- y_pred).dot(y_true-y_pred)/ len(y_true))

1.6728938867875618

In [21]:
#mean_absolute error
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [22]:
#r_squared
r2_score(y_true, y_pred)

0.9989603259063914

In [23]:
#mean_absolute_percentage error
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

In [25]:
#scalent variant matrics
#sMAPE
def smape(y_true, y_pred):
    numerator = np.abs(y_true-y_pred)
    denominator = (np.abs(y_true)+np.abs(y_pred))/2
    ratio = numerator/denominator
    return ratio.mean()
smape(y_true, y_pred)

0.006491365814068417